{% extends "layout.html" %}
{% block content %}
    {% if result %}
        <div class="container summary">
            <p id="doc-title">{{ name }} summary</p>
            <div id="wordcount">
                <p>{{ total }} words</p>
                <p><a href="#div_removal">sent.removal</a></p>
                <p><a href="#div_labelling">sent.labelling</a></p>
            </div>
            <div id="div-summary">
                {% for key, value in result.items() %}
                {% if value|length > 0 %}
                    <!-- <h3>{{ key }}</h3> -->
                    <p><span id="span-cat">{{ key }}&nbsp&nbsp</span> {{' '.join(value)}}</p>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
        <div id="div_removal">
            <p class="doc-clsres">Sentence Removal</p>
            <p class="acc_display">accuracy: {{rm}}</p>
            <p class="simple-nav"><a href="#">top </a><a href="#div_labelling">next</a></p>
        {% for table in tables_1 %}
            {{ table|safe }}
        {% endfor %}
        </div>
        <div id="div_labelling">
            <p class="doc-clsres">Sentence Labelling</p>
            <p class="acc_display">accuracy: {{cl}}</p>
            <p class="simple-nav"><a href="#">top </a><a href="#div_removal">prev</a></p>
            {% for table in tables_2 %}
                {{ table|safe }}
            {% endfor %}
        </div>
<script type='text/javascript'>
    window.onload = function() {
        const thead = document.querySelectorAll('.table > thead');
        thead.forEach(e => e.classList.add('thead-dark'));
    }
</script>
{% endblock %}