body{
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}
table{
    border: 0px!important;
}
thead{
    background: #b7b7bd;
}
thead th{
    text-align: center;
    font-weight: bold;
}
.acc_display{
    text-align: center;
    color:#a1a1a1;
    font-weight: bold;
}
#doc-title{
    margin: 5px auto 2px auto;
    /* margin-top: 5px;
    margin-bottom: 2px; */
    text-align: center;
    color:#b7b7bd;
    font-weight: 600;
    font-size: 1.5em;
    font-family: 'Ubuntu', serif;
}
.doc-clsres{
    margin-top: 100px;
    margin-bottom: 2px;
    text-align: center;
    color:#b7b7bd;
    font-weight: 600;
    font-size: 1.5em;
    font-family: 'Ubuntu', serif;
}
.simple-nav{
    float:right;
    position: sticky;
    top: 0;
    right: 45px;
}
.simple-nav a{
    color: #a1a1a1;
}
.res-table{
    width: 80%;
    margin: 0 auto;
}
a{
    color: #006400;
}
a:hover{
    text-decoration: none;
    color: #66a766;
}
#wordcount{
    float:right;
    position: sticky;
    color: #b7b7bd;
    top:0;
    margin-right:2%;
}
#header{
    background: #E6E6FA;
}
h1, h2{
    color: #006400;
}

li{
    list-style-type: none;
}
#span-cat{
    font-weight: bold;
    font-size: small;
    color: #006400;
}
#div-title{
    padding: 1% 0 1% 3%;
}
#div-nav{
    padding:2% 0 0 8%;
}
#div-summary{
    width: 70%;
    padding: 2%;
    margin: 0 auto;
    text-align: justify;
    border: #E6E6FA 2px solid;
    font-family: 'Noto Serif', serif;
}
#app-title{
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}
#app-subtitle{
    font-family: 'Ubuntu Mono', monospace;
    font-size: medium;
}
#app-info{
    font-size: small;
    font-family: 'Ubuntu Mono', monospace;
    margin-top: 20px;
    /* padding-top:10px; */
}
#img-logo{
    width: 65px;
    height: auto;
    float: left;
    padding-right: 5px;
}
#command{
    margin-top: 12%;
    text-align: center;
    padding: 1% 0 2% 0;
    border: solid #b7b7bd 2px;
    border-radius: 10px;
    width: 50%;
    background: #dfdfdf;
}
footer{
    background: #E6E6FA;
    color: #66a766;
    padding: 3px 1% 3px 0;
    text-align: right;
    overflow: hidden;
    font-family: 'Ubuntu Mono', monospace;
}