body{
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}
table{
    border: 0px!important;
}
thead{
    background: #b7b7bd;
}
thead th{
    text-align: center;
    font-weight: bold;
}

#doc-title{
    margin-top: 5px;
    margin-bottom: 2px;
    text-align: center;
    color:#b7b7bd;
    font-weight: 600;
    font-size: 1.5em;
    font-family: 'Ubuntu', serif;
}
#wordcount{
    float: right;
    color: #b7b7bd;
    margin-right: 7.7%;
}
#header{
    background: #E6E6FA;
}
h1, h2{
    color: #006400;
}

li{
    list-style-type: none;
}
#span-cat{
    font-weight: bold;
    font-size: small;
    color: #006400;
}
#div-title{
    padding: 1% 0 1% 3%;
}
#div-nav{
    padding:2% 0 0 8%;
}
#div-summary{
    width: 70%;
    padding: 2%;
    margin: 0 auto;
    text-align: justify;
    border: #E6E6FA 2px solid;
    font-family: 'Noto Serif', serif;
}
#app-title{
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}
#app-subtitle{
    font-family: 'Ubuntu Mono', monospace;
    font-size: medium;
}
#app-info{
    font-size: small;
    font-family: 'Ubuntu Mono', monospace;
    margin-top: 20px;
    /* padding-top:10px; */
}
#img-logo{
    width: 65px;
    height: auto;
    float: left;
    padding-right: 5px;
}
#command{
    text-align: center;
    padding-top: 1%;
}